* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* letter-spacing: 5px; */
  word-spacing: 5px;
}
.container h1{
  color: #0935bc;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  /* left/right up/down
}

.container {
  font-size: 1em; 
  /* EM is bigger than px, 1em=16px */
}

.container p {
  font-size: 100%;
  /* ext-align: right; */
  text-indent: 50px;

}

.container p span{
  font-weight: 900;
  font-style: oblique;
  text-decoration: line-through;
}

.container a {
  text-decoration: none;
  
}